## HW1) Take Occupancy dataset from data exploration to classifier

In [1]:
"""
https://archive.ics.uci.edu/ml/datasets/Occupancy+Detection+
"""

'\nhttps://archive.ics.uci.edu/ml/datasets/Occupancy+Detection+\n'

In [1]:
#Your code here ...
# create 3 dataframes with text data
import pandas as pd

df1 = pd.read_csv('datatest.txt')
df2 = pd.read_csv('datatest2.txt')
df3 = pd.read_csv('datatest')
df1.headad()

                    date  Temperature  Humidity       Light         CO2  HumidityRatio  Occupancy
140  2015-02-02 14:19:00      23.7000    26.272  585.200000  749.200000       0.004764          1
141  2015-02-02 14:19:59      23.7180    26.290  578.400000  760.400000       0.004773          1
142  2015-02-02 14:21:00      23.7300    26.230  572.666667  769.666667       0.004765          1
143  2015-02-02 14:22:00      23.7225    26.125  493.750000  774.750000       0.004744          1
144  2015-02-02 14:23:00      23.7540    26.200  488.600000  779.000000       0.004767          1

## HW2) Take Wine Quality dataset from data exploration to classifier

In [ ]:
"""
https://archive.ics.uci.edu/ml/datasets/Wine+Quality
"""

In [ ]:
# Your code here ...